
body{
    height: 97vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #6ecb3e;
    margin: 0px;
}
header{
    width: 100%;
    height: 100px;
    background-color: #53A548;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    


}
section{
    display: flex;
    flex-direction: row;
    height: 84vh;
    position: relative;
    right:2px;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;       

}
.link{
    text-decoration: none;
    color: black;
    height: 50px;
    width: 300px;
    border: solid green 3px;
    margin: 20px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.7s;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #6ecb3e;
    box-sizing: border-box;
    overflow-y: scroll;
}
h4{
    font-size: 20px;
}
h1{
    font-size: 50px;
    font-style: italic;
    position: relative;
    right: 15px;
}
.box h2{
    text-align: center;
}
.box{
    margin: 20px;
    background-color: #53A548;
    width:calc(100%-40px);
    border-radius: 20px;
}
.box ul li{
font-family: "Noto Nastaliq Urdu", serif;
text-align: center;
list-style-position: inside;
font-size: 15.5px;
margin-right: 10px;
list-style-type: none;

}
@media(min-width : 768px){
.box ul li {
    font-size: 29px;
}
}
.hawala{
color: blue;
transition: all 0.5s;
text-decoration: none;


}
@media ( min-width: 1025px)
{

.hawala:hover{
background-color: rgb(72, 188, 72);
border-radius: 20px;
}
}
.elenco{
padding-bottom: 15px;
}